/* line 109, ../scss/base/_mixins.scss */
.show {
  visibility: visible;
}

/* line 113, ../scss/base/_mixins.scss */
.hide {
  display: none !important;
  visibility: hidden;
}

@media screen and (min-width: 960px) {
  /* line 118, ../scss/base/_mixins.scss */
  .phone-hide {
    visibility: visible;
  }

  /* line 119, ../scss/base/_mixins.scss */
  .tablet-hide {
    visibility: visible;
  }

  /* line 120, ../scss/base/_mixins.scss */
  .phone-show {
    display: none !important;
    visibility: hidden;
  }

  /* line 121, ../scss/base/_mixins.scss */
  .tablet-show {
    display: none !important;
    visibility: hidden;
  }

  /* line 122, ../scss/base/_mixins.scss */
  .tablet-only {
    display: none !important;
    visibility: hidden;
  }
}
@media screen and (max-width: 959px) and (min-width: 480px) {
  /* line 127, ../scss/base/_mixins.scss */
  .phone-hide {
    visibility: visible;
  }

  /* line 128, ../scss/base/_mixins.scss */
  .tablet-hide {
    display: none !important;
    visibility: hidden;
  }

  /* line 129, ../scss/base/_mixins.scss */
  .phone-show {
    display: none !important;
    visibility: hidden;
  }

  /* line 130, ../scss/base/_mixins.scss */
  .tablet-show {
    visibility: visible;
  }

  /* line 131, ../scss/base/_mixins.scss */
  .tablet-only {
    visibility: visible;
  }
}
@media screen and (max-width: 479px) {
  /* line 136, ../scss/base/_mixins.scss */
  .phone-hide {
    display: none !important;
    visibility: hidden;
  }

  /* line 137, ../scss/base/_mixins.scss */
  .tablet-hide {
    display: none !important;
    visibility: hidden;
  }

  /* line 138, ../scss/base/_mixins.scss */
  .phone-show {
    visibility: visible;
  }

  /* line 139, ../scss/base/_mixins.scss */
  .tablet-show {
    visibility: visible;
  }

  /* line 140, ../scss/base/_mixins.scss */
  .tablet-only {
    display: none !important;
    visibility: hidden;
  }
}
/* line 5, ../scss/examples.scss */
.white-panel {
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid #ecf0f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 11, ../scss/examples.scss */
.white-panel.padded {
  padding: 2rem;
}
/* line 15, ../scss/examples.scss */
.white-panel h2 {
  padding: 6rem 0 1rem 0;
}

@media screen and (max-width: 662px) {
  /* line 20, ../scss/examples.scss */
  h2 {
    display: inline-block;
  }
}

/* line 26, ../scss/examples.scss */
.example-link {
  margin-top: -2.75rem;
  float: right;
  font-family: "Source Code Pro", "Inconsolata", "Consolas", "Courier New", monospace;
  font-size: 1rem;
}

/* line 35, ../scss/examples.scss */
.api-link {
  font-size: 1rem;
  float: right;
  line-height: 3.25rem;
}

@media screen and (max-width: 662px) {
  /* line 43, ../scss/examples.scss */
  .example-link,
  .api-link {
    width: 100%;
    display: block;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    float: left;
  }
}
