/* line 4, ../scss/home.scss */
.homepage-navigation {
  position: relative;
  z-index: 2;
  font-weight: 200;
  margin-top: 1rem;
}
/* line 9, ../scss/home.scss */
.homepage-navigation a {
  color: #FAFBFE;
}
/* line 11, ../scss/home.scss */
.homepage-navigation a:hover {
  color: #FFFFFF;
}

/* line 17, ../scss/home.scss */
pre {
  padding: 0;
  border: none;
}

/* line 22, ../scss/home.scss */
code {
  background-color: #FFFFFF;
  border-color: #ECF0F3;
}

/* line 27, ../scss/home.scss */
.banner {
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  background: url(../img/dots.svg) #245070;
  z-index: 20;
}
/* line 33, ../scss/home.scss */
.banner .banner-copy {
  position: relative;
  margin: 5rem 0 9rem 0;
  z-index: 2;
  font-weight: 200;
}
/* line 39, ../scss/home.scss */
.banner .banner-graphic {
  position: absolute;
  top: -260px;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 2400px;
  margin-left: -1200px;
  z-index: 1;
}
/* line 49, ../scss/home.scss */
.banner .dimple-axis {
  display: none;
}
/* line 52, ../scss/home.scss */
.banner .dimple-gridline {
  display: none;
}
/* line 55, ../scss/home.scss */
.banner .dimple-line {
  opacity: 0.8;
  fill: none;
  stroke: #234052;
  stroke-width: 2;
}
/* line 61, ../scss/home.scss */
.banner .dimple-marker-back {
  fill: #234052;
}
/* line 64, ../scss/home.scss */
.banner .dimple-marker {
  display: none;
  fill: #234052;
}

/* line 71, ../scss/home.scss */
.charts-list a {
  color: #76899B;
}
