@import "compass";
@import "config";
@import "base/mixins";

.white-panel {
  margin-bottom: 1rem;
  background-color: $white;
  border: 1px solid $lighter-gray;
  @include box-sizing(border-box);
  @include border-radius(3px);
  &.padded {
    padding: 2rem;
  }

  h2 {
    padding: 6rem 0 1rem 0;
  }
}

h2 {
  @include respond-to($phone-large) {
    display: inline-block;
  }
}

.example-link {
  margin-top: -2.75rem;
  float: right;
  font-family: $source;
  font-size: 1rem;

}


.api-link {
  font-size: 1rem;
  float: right;
  line-height: 3.25rem;

}

.example-link,
.api-link {
  @include respond-to($phone-large) {
    width: 100%;
    display: block;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    float: left;
  }
}