@import "compass";

@import "config";
@import "base/reset";
@import "base/mixins";
@import "base/grid";
@import "base/type";
@import "base/code";
@import "base/tabs";
@import "base/buttons";

[ng-cloak] { display: none;}

.fullscreen {
  padding: 8rem 0;
  .darker-blue {
    background-color: $darker-blue;
  }
}

.darker-blue {
  color: $gray;
  background-color: $darker-blue;
  a {
    color: lighten($blue, 10%);
    &:hover {
      color: lighten($blue, 20%);
    }
  }
}

.off-white {
  color: $dark-gray;
  background-color: $off-white;
}

.primary-navigation {
  font-weight: 300;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  padding: 1rem 0;
  z-index: 10;

  @include respond-to($phone-large) {
    position: absolute;
  }
}

.angular-dimple-logo {
  float: left;
  @include respond-to($tablet-mid) {
    width: 100%;
    text-align: center;
  }
}

.navigation-section {
  width: 50%;
  text-align: right;
  float: right;
  @include respond-to($tablet-mid) {
    width: 100%;
    text-align: center;
  }
}

.numbered {
  text-align: center;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  display: inline-block;
  color: $white;
  font-family: $source;
  font-size: .75rem;
  line-height: 2em;
  vertical-align: .25em;
  background-color: $blue;
  @include border-radius(50%);
}

.navigation {
  position: fixed;
  height: 100vh;
  width: 14em;
  padding: 1em;
  background-color: #ededed;
}

.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;


  li {
    margin-bottom: 1rem;
    padding: .25rem 0;
  }
  a {
    width: 100%;
    img {
      float: left;
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
      background-color: $white;
      border: 2px solid $light-gray;
      @include border-radius(50%);
      @include box-shadow( 0 0 0 0 $light-gray);
      @include transition(all 200ms linear);
    }
    &:hover {
      img {
        @include box-shadow( 0 0 0 4px $light-gray);
      }
    }
  }
  span {
    display: inline-block;
    line-height: 3rem;
  }

  @include respond-to($tablet-mid){
    padding-top: 1rem;
    position: relative;
    height: auto;

    li {
      display: inline-block;
      padding-right: 1rem;
    }
  }
}

.chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14rem;
  right: 0;
  height: 100vh;
  padding-left: 1rem;
}

.chart-icon {
  @extend %clearfix;
  display: inline-block;
  margin-bottom: 1rem;
  background-color: $white;
  height: 6rem;
  width: 6rem;
  position: relative;
  @include border-radius(50%);
  cursor: pointer;
  @include transition(all 200ms linear);
  border: 1px solid $light-gray;
  &:hover {
    background-color: $off-white;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    @include border-radius(50%);
    @include box-shadow(0 0 0 6px $light-gray);
    @include transition(all 200ms linear);
  }
  &:hover {
    &:before {
      @include box-shadow(0 0 0 12px $light-gray);
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.footer {
  position: relative;
  z-index: 5;
}
