// Grid Classes
.container {
  @include container($container-width, $container-max, $container-min, $container-gutter);
}

.row {
  @include clearfix();
  position: relative;
  .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin-left: -0.5em;
    margin-right: -0.5em;
  }
}

img, object, embed, video {
  max-width: 100%;
  height: auto;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

[class*="column-"] {
  &.last-column {
    float: right;
  }
  &.center {
    @include center-column();
  }
}

@for $i from 1 through $total-columns {
  .column-#{$i} {
    @extend %column-base;
    @include column-width($i);
  }
}

@for $i from 0 through $total-columns {
  .pre-#{$i} {
    @include pre($i)
  }
  .post-#{$i} {
    @include post($i)
  }
}

@include respond-to($tablet-mid){
  @for $i from 1 through $total-columns {
    .tablet-column-#{$i} {
      @include column-width($i);
    }
  }
  @for $i from 0 through $total-columns {
    .tablet-post-#{$i} {
      @include post($i);
    }
    .tablet-pre-#{$i} {
      @include pre($i);
    }
  }
}

@include respond-to($phone){
  @for $i from 1 through $total-columns {
    .phone-column-#{$i} {
      @include column-width($i);
    }
  }
  @for $i from 0 through $total-columns {
    .phone-post-#{$i} {
      @include post($i);
    }
    .phone-pre-#{$i} {
      @include pre($i);
    }
  }
}

// Leader & Trailer
@for $i from 0 through 5 {
  .leader-#{$i}  { margin-top:    $i * 1rem; }
  .trailer-#{$i} { margin-bottom: $i * 1rem; }
}
