$baseline: 1.25rem;

body {
  color: $dark-gray;
  font-family: $clear;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: $baseline;
  padding-bottom: $baseline;
  font-family: $clear;
  font-weight: 300;
  line-height: $baseline;
}

h1 { font-size: 2.75rem; line-height: 2*$baseline;}
h2 { font-size: 2.00rem; line-height: 2*$baseline;}
h3 { font-size: 1.75rem; line-height: 2*$baseline;}
h4 { font-size: 1.50rem; line-height: $baseline;}
h5 { font-size: 1.25rem; line-height: $baseline;}
h6 { font-size: 1.00rem; line-height: $baseline;}

blockquote {
  font-family: $clear;
  font-style: italic;
  font-weight: 400;
  font-size: 1.75rem;
  color: $light-gray;
}

p {
  margin: 0;
  padding-bottom: $baseline;
  font-size: 1.05rem;
  line-height: 1.5em;
  font-weight: 300;
  &.large {
    font-size: 1.35rem;
  }
  &.small {
    font-size: .85rem;
  }
}

b, strong {
  font-weight: 700;
}

small {
  font-size: .875rem;
  color: $gray;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover, &:focus {
    color: $dark-blue;
    cursor: pointer;
  }
  &:active, &:hover {
    outline: 0;
  }
}

.example-link {
  margin-top: -4rem;
  float: right;
  font-family: $source;
  font-size: 1rem;
}

ul, ol {
  list-style-position: inside;
  margin-top: 0;
  padding: 0;
  ul, ol {
    padding-left: 1.25em;
  }
}

ul {
  list-style-type: none;
}


ol {

}

code, kbd, pre, samp {
  font-family: $source;
}

code {
  @include border-radius(2px);
  background: $off-white;
  padding: .2em;
  border: 1px solid darken($off-white, 5%);
  white-space: pre;
  font-size: .75rem;
  line-height: 1.5em;
}

pre {
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  @include experimental(tab-size, 4);
  background: $off-white;
  border: 1px solid $lighter-gray;
  max-width: 100%;
  margin: 0 0 $baseline 0;
  code {
    background-color: $off-white;
    display: block;
    overflow: auto;
    word-wrap: normal;
    border: none;
  }
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid $off-white;
}

.center-text {
  text-align: center;
}

img::selection {
  background: transparent;
}

img::moz-selection {
  background: transparent;
}

table {
  width: 100%;
  padding-bottom: $baseline;

  thead {
    background-color: $lighter-gray;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85rem;
    font-family: $source;
    font-weight: 300;
  }

  th {
    padding: 0.25em 1em;
    text-align: left;
  }

  td {
    padding: 0.75em 1em;
  }

  tr:nth-child(even) {
    background-color: $off-white;
  }

  tr:last-child {
    td {
      border-bottom: 2px solid $lighter-gray;
    }
  }
}
