// Colors
$white:        #FFFFFF !default;
$off-white:    #FAFBFE !default;
$lighter-gray: #ECF0F3 !default;
$light-gray:   #DDE3E8 !default;
$gray:         #76899B !default;
$dark-gray:    #4C5156 !default;
$darker-gray:  #2C3136 !default;
$blue:         #1F85C4 !default;
$light-blue:   lighten($blue, 10%);
$dark-blue:    #245070 !default;
$darker-blue:  #234052 !default;

// ┌────────────┐
// │ Structural │
// └────────────┘

// Breakpoints
$small:                    480px                 !default;
$medium:                   860px                 !default;
$large:                    1280px                !default;

// Grid Settings
$vw-ratio:                 0.9;
$container-width:          $vw-ratio * 100vw     !default;
$container-min:            0                     !default;
$container-max:            $large * $vw-ratio    !default;
$column-gutter:            1rem                  !default;

$vertical-range:           7        						 !default;

// $ratio:              $golden           ;
$body-size:          0.875rem              ;
$small-size:         0.75rem           ;
$baseline:           1.25rem           ;
$indent:             1em               ;

// ┌───────────────┐
// │ Font Families │
// └───────────────┘
$header-family:     'Clear Sans',
			               'Helvetica Neue',
			               'Helvetica',
			               'Arial',
			               sans-serif        ;

$header-thin:        false             ;
$header-thin:        false             ;
$header-light:       200, 400          ;
$header-regular:     400, 600          ;
$header-medium:      false             ;
$header-demi:        false             ;
$header-bold:        600, 600          ;
$header-black:       false             ;

$body-family:        'Clear Sans',
			               'Helvetica Neue',
			               'Helvetica',
			               'Arial',
			               sans-serif        ;

$body-thin:          false             ;
$body-thin:          false             ;
$body-light:         false             ;
$body-regular:       400, 700          ;
$body-medium:        false             ;
$body-demi:          false             ;
$body-bold:          700, 700          ;
$body-black:         false             ;

$secondary-family:   Georgia,
			               serif             ;

$secondary-thin:     false             ;
$secondary-thin:     false             ;
$secondary-light:    false             ;
$secondary-regular:  400, 700          ;
$secondary-medium:   false             ;
$secondary-demi:     false             ;
$secondary-bold:     700, 700          ;
$secondary-black:    false             ;

$code-family:        'Source Code Pro',
 										 'Inconsolata',
										 "Consolas",
			               "Andale Mono",
			               "Lucida Console",
			               "Monaco",
			               "Courier New",
			               Courier,
			               monospace         ;

$code-thin:          false             ;
$code-thin:          false             ;
$code-light:         false             ;
$code-regular:       400, 400          ;
$code-medium:        false             ;
$code-demi:          false             ;
$code-bold:          false             ;
$code-black:         false             ;


// ┌───────────────┐
// │ Base Tracking │
// └───────────────┘
$header-tracking:    0                 ;
$body-tracking:      30                ;
$secondary-tracking: 10                ;
$code-tracking:      0                 ;
