/* line 4, ../scss/style.scss */
[ng-cloak] {
  display: none;
}

/* line 6, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/style.scss */
h1 {
  color: red;
}

/* line 15, ../scss/style.scss */
.navigation {
  position: fixed;
  height: 100vh;
  width: 14em;
  padding: 1em;
  background-color: #ededed;
}

/* line 23, ../scss/style.scss */
.chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14rem;
  right: 0;
  height: 100vh;
  padding-left: 1rem;
}
