/* line 4, ../scss/examples.scss */
.white-panel {
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid #ecf0f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 10, ../scss/examples.scss */
.white-panel.padded {
  padding: 2rem;
}

/* line 15, ../scss/examples.scss */
.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;
}
/* line 19, ../scss/examples.scss */
.sidebar li {
  margin-bottom: 1rem;
  padding: .25rem 0;
}
/* line 23, ../scss/examples.scss */
.sidebar a {
  width: 100%;
}
/* line 25, ../scss/examples.scss */
.sidebar a img {
  float: left;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  background-color: white;
  border: 2px solid #dde3e8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 #dde3e8;
  -moz-box-shadow: 0 0 0 0 #dde3e8;
  box-shadow: 0 0 0 0 #dde3e8;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 37, ../scss/examples.scss */
.sidebar a:hover img {
  -webkit-box-shadow: 0 0 0 4px #dde3e8;
  -moz-box-shadow: 0 0 0 4px #dde3e8;
  box-shadow: 0 0 0 4px #dde3e8;
}
/* line 42, ../scss/examples.scss */
.sidebar span {
  display: inline-block;
  line-height: 3rem;
}

/* line 48, ../scss/examples.scss */
.api-link {
  font-size: 1rem;
  float: right;
  line-height: 3.25rem;
}
