/* line 4, ../scss/examples.scss */
.white-panel {
  background-color: white;
  border: 1px solid #ecf0f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 4.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 10, ../scss/examples.scss */
.white-panel.padded {
  padding: 2rem;
}

/* line 15, ../scss/examples.scss */
.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;
  padding-top: 1rem;
}
/* line 21, ../scss/examples.scss */
.sidebar li {
  height: 4rem;
  margin-bottom: 1rem;
}
/* line 29, ../scss/examples.scss */
.sidebar .chart-icon:hover:before {
  -webkit-box-shadow: 0 0 0 9px #dde3e8;
  -moz-box-shadow: 0 0 0 9px #dde3e8;
  box-shadow: 0 0 0 9px #dde3e8;
}
/* line 35, ../scss/examples.scss */
.sidebar a {
  height: 3rem;
  width: 3rem;
}
/* line 39, ../scss/examples.scss */
.sidebar a img {
  float: left;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}
/* line 47, ../scss/examples.scss */
.sidebar span {
  float: left;
  position: absolute;
  display: inline-block;
  padding-top: 0.75rem;
}

/* line 55, ../scss/examples.scss */
.api-link {
  float: right;
  margin-top: 1.5rem;
}
