/* line 4, ../scss/home.scss */
.homepage-navigation {
  position: relative;
  z-index: 2;
  font-weight: 200;
  margin-top: 1rem;
}
/* line 9, ../scss/home.scss */
.homepage-navigation a {
  color: #fafbfe;
}
/* line 11, ../scss/home.scss */
.homepage-navigation a:hover {
  color: white;
}

/* line 17, ../scss/home.scss */
pre {
  padding: 0;
  border: none;
}

/* line 22, ../scss/home.scss */
code {
  background-color: white;
  border-color: #ecf0f3;
}

/* line 27, ../scss/home.scss */
.banner {
  position: relative;
  overflow: hidden;
  color: white;
  background: url(../img/dots.svg) #245070;
  z-index: 20;
}
/* line 33, ../scss/home.scss */
.banner .banner-copy {
  position: relative;
  margin: 5rem 0 9rem 0;
  z-index: 2;
  font-weight: 200;
}
/* line 40, ../scss/home.scss */
.banner .dimple-graph {
  position: absolute;
  top: -260px;
  right: 0;
  bottom: 0;
  left: -25%;
  z-index: 1;
}
/* line 48, ../scss/home.scss */
.banner .dimple-axis {
  display: none;
}
/* line 51, ../scss/home.scss */
.banner .dimple-gridline {
  display: none;
}
/* line 54, ../scss/home.scss */
.banner .dimple-line {
  opacity: 0.8;
  fill: none;
  stroke: #234052;
  stroke-width: 2;
}
/* line 60, ../scss/home.scss */
.banner .dimple-marker-back {
  fill: #234052;
}
/* line 63, ../scss/home.scss */
.banner .dimple-marker {
  display: none;
  fill: #234052;
}

/* line 70, ../scss/home.scss */
.charts-list a {
  color: #76899b;
}
