/* line 1, ../scss/base/_reset.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../scss/base/_reset.scss */
body {
  margin: 0;
}

/* line 25, ../scss/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 31, ../scss/base/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 35, ../scss/base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 40, ../scss/base/_reset.scss */
[hidden] {
  display: none;
}

/* line 44, ../scss/base/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 4, ../scss/base/_mixins.scss */
.container:before, .row:before, .tab-group .tab-nav:before, .chart-icon:before, .container:after, .row:after, .tab-group .tab-nav:after, .chart-icon:after {
  content: " ";
  display: table;
}
/* line 8, ../scss/base/_mixins.scss */
.container:after, .row:after, .tab-group .tab-nav:after, .chart-icon:after {
  clear: both;
}

/* line 51, ../scss/base/_mixins.scss */
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15, .column-16, .column-17, .column-18, .column-19, .column-20, .column-21, .column-22, .column-23, .column-24 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0.5em;
}

/* line 2, ../scss/base/_grid.scss */
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  min-width: 0;
  padding: 0 1em;
  margin-right: auto;
  margin-left: auto;
}

/* line 6, ../scss/base/_grid.scss */
.row {
  position: relative;
}
/* line 9, ../scss/base/_grid.scss */
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

/* line 18, ../scss/base/_grid.scss */
img, object, embed, video {
  max-width: 100%;
  height: auto;
}

/* line 23, ../scss/base/_grid.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 29, ../scss/base/_grid.scss */
[class*="column-"].last-column {
  float: right;
}
/* line 32, ../scss/base/_grid.scss */
[class*="column-"].center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/* line 38, ../scss/base/_grid.scss */
.column-1 {
  width: 4.16667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-2 {
  width: 8.33333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-3 {
  width: 12.5%;
}

/* line 38, ../scss/base/_grid.scss */
.column-4 {
  width: 16.66667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-5 {
  width: 20.83333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-6 {
  width: 25%;
}

/* line 38, ../scss/base/_grid.scss */
.column-7 {
  width: 29.16667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-8 {
  width: 33.33333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-9 {
  width: 37.5%;
}

/* line 38, ../scss/base/_grid.scss */
.column-10 {
  width: 41.66667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-11 {
  width: 45.83333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-12 {
  width: 50%;
}

/* line 38, ../scss/base/_grid.scss */
.column-13 {
  width: 54.16667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-14 {
  width: 58.33333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-15 {
  width: 62.5%;
}

/* line 38, ../scss/base/_grid.scss */
.column-16 {
  width: 66.66667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-17 {
  width: 70.83333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-18 {
  width: 75%;
}

/* line 38, ../scss/base/_grid.scss */
.column-19 {
  width: 79.16667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-20 {
  width: 83.33333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-21 {
  width: 87.5%;
}

/* line 38, ../scss/base/_grid.scss */
.column-22 {
  width: 91.66667%;
}

/* line 38, ../scss/base/_grid.scss */
.column-23 {
  width: 95.83333%;
}

/* line 38, ../scss/base/_grid.scss */
.column-24 {
  width: 100%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-0 {
  margin-left: 0%;
}

/* line 48, ../scss/base/_grid.scss */
.post-0 {
  margin-right: 0%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-1 {
  margin-left: 4.16667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-1 {
  margin-right: 4.16667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-2 {
  margin-left: 8.33333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-2 {
  margin-right: 8.33333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-3 {
  margin-left: 12.5%;
}

/* line 48, ../scss/base/_grid.scss */
.post-3 {
  margin-right: 12.5%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-4 {
  margin-left: 16.66667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-4 {
  margin-right: 16.66667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-5 {
  margin-left: 20.83333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-5 {
  margin-right: 20.83333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-6 {
  margin-left: 25%;
}

/* line 48, ../scss/base/_grid.scss */
.post-6 {
  margin-right: 25%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-7 {
  margin-left: 29.16667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-7 {
  margin-right: 29.16667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-8 {
  margin-left: 33.33333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-8 {
  margin-right: 33.33333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-9 {
  margin-left: 37.5%;
}

/* line 48, ../scss/base/_grid.scss */
.post-9 {
  margin-right: 37.5%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-10 {
  margin-left: 41.66667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-10 {
  margin-right: 41.66667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-11 {
  margin-left: 45.83333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-11 {
  margin-right: 45.83333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-12 {
  margin-left: 50%;
}

/* line 48, ../scss/base/_grid.scss */
.post-12 {
  margin-right: 50%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-13 {
  margin-left: 54.16667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-13 {
  margin-right: 54.16667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-14 {
  margin-left: 58.33333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-14 {
  margin-right: 58.33333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-15 {
  margin-left: 62.5%;
}

/* line 48, ../scss/base/_grid.scss */
.post-15 {
  margin-right: 62.5%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-16 {
  margin-left: 66.66667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-16 {
  margin-right: 66.66667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-17 {
  margin-left: 70.83333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-17 {
  margin-right: 70.83333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-18 {
  margin-left: 75%;
}

/* line 48, ../scss/base/_grid.scss */
.post-18 {
  margin-right: 75%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-19 {
  margin-left: 79.16667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-19 {
  margin-right: 79.16667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-20 {
  margin-left: 83.33333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-20 {
  margin-right: 83.33333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-21 {
  margin-left: 87.5%;
}

/* line 48, ../scss/base/_grid.scss */
.post-21 {
  margin-right: 87.5%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-22 {
  margin-left: 91.66667%;
}

/* line 48, ../scss/base/_grid.scss */
.post-22 {
  margin-right: 91.66667%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-23 {
  margin-left: 95.83333%;
}

/* line 48, ../scss/base/_grid.scss */
.post-23 {
  margin-right: 95.83333%;
}

/* line 45, ../scss/base/_grid.scss */
.pre-24 {
  margin-left: 100%;
}

/* line 48, ../scss/base/_grid.scss */
.post-24 {
  margin-right: 100%;
}

@media screen and (max-width: 960px) {
  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-1 {
    width: 4.16667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-2 {
    width: 8.33333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-3 {
    width: 12.5%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-4 {
    width: 16.66667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-5 {
    width: 20.83333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-6 {
    width: 25%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-7 {
    width: 29.16667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-8 {
    width: 33.33333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-9 {
    width: 37.5%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-10 {
    width: 41.66667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-11 {
    width: 45.83333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-12 {
    width: 50%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-13 {
    width: 54.16667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-14 {
    width: 58.33333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-15 {
    width: 62.5%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-16 {
    width: 66.66667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-17 {
    width: 70.83333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-18 {
    width: 75%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-19 {
    width: 79.16667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-20 {
    width: 83.33333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-21 {
    width: 87.5%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-22 {
    width: 91.66667%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-23 {
    width: 95.83333%;
  }

  /* line 55, ../scss/base/_grid.scss */
  .tablet-column-24 {
    width: 100%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-0 {
    margin-right: 0%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-0 {
    margin-left: 0%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-1 {
    margin-right: 4.16667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-1 {
    margin-left: 4.16667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-2 {
    margin-right: 8.33333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-2 {
    margin-left: 8.33333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-3 {
    margin-right: 12.5%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-3 {
    margin-left: 12.5%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-4 {
    margin-right: 16.66667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-4 {
    margin-left: 16.66667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-5 {
    margin-right: 20.83333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-5 {
    margin-left: 20.83333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-6 {
    margin-right: 25%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-6 {
    margin-left: 25%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-7 {
    margin-right: 29.16667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-7 {
    margin-left: 29.16667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-8 {
    margin-right: 33.33333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-8 {
    margin-left: 33.33333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-9 {
    margin-right: 37.5%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-9 {
    margin-left: 37.5%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-10 {
    margin-right: 41.66667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-10 {
    margin-left: 41.66667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-11 {
    margin-right: 45.83333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-11 {
    margin-left: 45.83333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-12 {
    margin-right: 50%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-12 {
    margin-left: 50%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-13 {
    margin-right: 54.16667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-13 {
    margin-left: 54.16667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-14 {
    margin-right: 58.33333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-14 {
    margin-left: 58.33333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-15 {
    margin-right: 62.5%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-15 {
    margin-left: 62.5%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-16 {
    margin-right: 66.66667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-16 {
    margin-left: 66.66667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-17 {
    margin-right: 70.83333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-17 {
    margin-left: 70.83333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-18 {
    margin-right: 75%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-18 {
    margin-left: 75%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-19 {
    margin-right: 79.16667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-19 {
    margin-left: 79.16667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-20 {
    margin-right: 83.33333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-20 {
    margin-left: 83.33333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-21 {
    margin-right: 87.5%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-21 {
    margin-left: 87.5%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-22 {
    margin-right: 91.66667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-22 {
    margin-left: 91.66667%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-23 {
    margin-right: 95.83333%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-23 {
    margin-left: 95.83333%;
  }

  /* line 60, ../scss/base/_grid.scss */
  .tablet-post-24 {
    margin-right: 100%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .tablet-pre-24 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 71, ../scss/base/_grid.scss */
  .phone-column-1 {
    width: 4.16667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-2 {
    width: 8.33333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-3 {
    width: 12.5%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-4 {
    width: 16.66667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-5 {
    width: 20.83333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-6 {
    width: 25%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-7 {
    width: 29.16667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-8 {
    width: 33.33333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-9 {
    width: 37.5%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-10 {
    width: 41.66667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-11 {
    width: 45.83333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-12 {
    width: 50%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-13 {
    width: 54.16667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-14 {
    width: 58.33333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-15 {
    width: 62.5%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-16 {
    width: 66.66667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-17 {
    width: 70.83333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-18 {
    width: 75%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-19 {
    width: 79.16667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-20 {
    width: 83.33333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-21 {
    width: 87.5%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-22 {
    width: 91.66667%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-23 {
    width: 95.83333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .phone-column-24 {
    width: 100%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-0 {
    margin-right: 0%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-0 {
    margin-left: 0%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-1 {
    margin-right: 4.16667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-1 {
    margin-left: 4.16667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-2 {
    margin-right: 8.33333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-2 {
    margin-left: 8.33333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-3 {
    margin-right: 12.5%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-3 {
    margin-left: 12.5%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-4 {
    margin-right: 16.66667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-4 {
    margin-left: 16.66667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-5 {
    margin-right: 20.83333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-5 {
    margin-left: 20.83333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-6 {
    margin-right: 25%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-6 {
    margin-left: 25%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-7 {
    margin-right: 29.16667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-7 {
    margin-left: 29.16667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-8 {
    margin-right: 33.33333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-8 {
    margin-left: 33.33333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-9 {
    margin-right: 37.5%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-9 {
    margin-left: 37.5%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-10 {
    margin-right: 41.66667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-10 {
    margin-left: 41.66667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-11 {
    margin-right: 45.83333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-11 {
    margin-left: 45.83333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-12 {
    margin-right: 50%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-12 {
    margin-left: 50%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-13 {
    margin-right: 54.16667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-13 {
    margin-left: 54.16667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-14 {
    margin-right: 58.33333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-14 {
    margin-left: 58.33333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-15 {
    margin-right: 62.5%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-15 {
    margin-left: 62.5%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-16 {
    margin-right: 66.66667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-16 {
    margin-left: 66.66667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-17 {
    margin-right: 70.83333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-17 {
    margin-left: 70.83333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-18 {
    margin-right: 75%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-18 {
    margin-left: 75%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-19 {
    margin-right: 79.16667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-19 {
    margin-left: 79.16667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-20 {
    margin-right: 83.33333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-20 {
    margin-left: 83.33333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-21 {
    margin-right: 87.5%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-21 {
    margin-left: 87.5%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-22 {
    margin-right: 91.66667%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-22 {
    margin-left: 91.66667%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-23 {
    margin-right: 95.83333%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-23 {
    margin-left: 95.83333%;
  }

  /* line 76, ../scss/base/_grid.scss */
  .phone-post-24 {
    margin-right: 100%;
  }

  /* line 79, ../scss/base/_grid.scss */
  .phone-pre-24 {
    margin-left: 100%;
  }
}
/* line 87, ../scss/base/_grid.scss */
.leader-0 {
  margin-top: 0rem;
}

/* line 88, ../scss/base/_grid.scss */
.trailer-0 {
  margin-bottom: 0rem;
}

/* line 87, ../scss/base/_grid.scss */
.leader-1 {
  margin-top: 1rem;
}

/* line 88, ../scss/base/_grid.scss */
.trailer-1 {
  margin-bottom: 1rem;
}

/* line 87, ../scss/base/_grid.scss */
.leader-2 {
  margin-top: 2rem;
}

/* line 88, ../scss/base/_grid.scss */
.trailer-2 {
  margin-bottom: 2rem;
}

/* line 87, ../scss/base/_grid.scss */
.leader-3 {
  margin-top: 3rem;
}

/* line 88, ../scss/base/_grid.scss */
.trailer-3 {
  margin-bottom: 3rem;
}

/* line 87, ../scss/base/_grid.scss */
.leader-4 {
  margin-top: 4rem;
}

/* line 88, ../scss/base/_grid.scss */
.trailer-4 {
  margin-bottom: 4rem;
}

/* line 87, ../scss/base/_grid.scss */
.leader-5 {
  margin-top: 5rem;
}

/* line 88, ../scss/base/_grid.scss */
.trailer-5 {
  margin-bottom: 5rem;
}

/* line 1, ../scss/base/_type.scss */
body {
  color: #4c5156;
  font-family: "Clear Sans", "Helvetica", "Arial", sans-serif;
}

/* line 6, ../scss/base/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Clear Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.25em;
}

/* line 13, ../scss/base/_type.scss */
h1 {
  font-size: 2.75rem;
}

/* line 14, ../scss/base/_type.scss */
h2 {
  font-size: 2.00rem;
}

/* line 15, ../scss/base/_type.scss */
h3 {
  font-size: 1.75rem;
}

/* line 16, ../scss/base/_type.scss */
h4 {
  font-size: 1.50rem;
}

/* line 17, ../scss/base/_type.scss */
h5 {
  font-size: 1.25rem;
}

/* line 18, ../scss/base/_type.scss */
h6 {
  font-size: 1.00rem;
}

/* line 20, ../scss/base/_type.scss */
blockquote {
  font-family: "Clear Sans", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.75rem;
  color: #dde3e8;
}

/* line 28, ../scss/base/_type.scss */
p {
  font-size: 1.05rem;
  line-height: 1.5em;
}
/* line 31, ../scss/base/_type.scss */
p.large {
  font-size: 1.35rem;
}

/* line 36, ../scss/base/_type.scss */
b, strong {
  font-weight: 700;
}

/* line 40, ../scss/base/_type.scss */
small {
  font-size: .875rem;
  color: #76899b;
}

/* line 45, ../scss/base/_type.scss */
a {
  color: #1f85c4;
  text-decoration: none;
}
/* line 48, ../scss/base/_type.scss */
a:hover, a:focus {
  color: #245070;
  cursor: pointer;
}
/* line 52, ../scss/base/_type.scss */
a:active, a:hover {
  outline: 0;
}

/* line 57, ../scss/base/_type.scss */
ul, ol {
  list-style-position: inside;
  margin-top: 0;
  padding: 0;
}
/* line 61, ../scss/base/_type.scss */
ul ul, ul ol, ol ul, ol ol {
  padding-left: 1.25em;
}

/* line 66, ../scss/base/_type.scss */
ul {
  list-style-type: none;
}

/* line 75, ../scss/base/_type.scss */
code, kbd, pre, samp {
  font-family: "Source Code Pro", "Inconsolata", "Consolas", "Courier New", monospace;
}

/* line 79, ../scss/base/_type.scss */
code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fafbfe;
  padding: .2em;
  border: 1px solid #e5eafa;
  white-space: pre;
  font-size: .75rem;
  line-height: 1.5em;
}

/* line 89, ../scss/base/_type.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  -ms-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  max-width: 100%;
  margin: 0;
}
/* line 96, ../scss/base/_type.scss */
pre code {
  display: block;
  overflow: auto;
  word-wrap: normal;
  border: none;
}

/* line 104, ../scss/base/_type.scss */
hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #fafbfe;
}

/* line 110, ../scss/base/_type.scss */
.center-text {
  text-align: center;
}

/* line 114, ../scss/base/_type.scss */
img::selection {
  background: transparent;
}

/* line 118, ../scss/base/_type.scss */
img::moz-selection {
  background: transparent;
}

/* line 2, ../scss/base/_tabs.scss */
.tab-group {
  width: 100%;
}
/* line 4, ../scss/base/_tabs.scss */
.tab-group .tab-nav {
  width: 100%;
  display: block;
}
/* line 8, ../scss/base/_tabs.scss */
.tab-group .tab-nav .tab {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fafbfe;
  border: 1px solid #ecf0f3;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-image: none;
}
/* line 20, ../scss/base/_tabs.scss */
.tab-group .tab-nav .tab:first-child {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  border-left: 1px solid #ecf0f3;
}
/* line 24, ../scss/base/_tabs.scss */
.tab-group .tab-nav .tab:last-child {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
/* line 27, ../scss/base/_tabs.scss */
.tab-group .tab-nav .tab:hover {
  background-color: #fcfdfe;
}
/* line 30, ../scss/base/_tabs.scss */
.tab-group .tab-nav .tab.active {
  border-bottom: 1px solid transparent;
  background-color: white;
}
/* line 33, ../scss/base/_tabs.scss */
.tab-group .tab-nav .tab.active:hover {
  background-color: white;
}
/* line 39, ../scss/base/_tabs.scss */
.tab-group .tab-contents {
  width: 100%;
  border: 1px solid #ecf0f3;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 45, ../scss/base/_tabs.scss */
.tab-group .tab-contents .tab-content {
  background-color: white;
  display: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 1em;
  overflow: auto;
}
/* line 53, ../scss/base/_tabs.scss */
.tab-group .tab-contents .tab-content.active {
  display: block;
}
/* line 56, ../scss/base/_tabs.scss */
.tab-group .tab-contents .tab-content code {
  border: none;
  overflow: initial;
  background: transparent;
}
/* line 61, ../scss/base/_tabs.scss */
.tab-group .tab-contents .tab-content pre {
  background: transparent;
  margin-bottom: 0;
}

/* line 2, ../scss/base/_buttons.scss */
.btn {
  display: inline-block;
  padding: 1em;
  background-color: #1f85c4;
  color: #ecf0f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Source Code Pro", "Inconsolata", "Consolas", "Courier New", monospace;
  font-size: 0.75em;
  cursor: pointer;
  -webkit-transition: background-color 75ms linear, color 75ms linear;
  -moz-transition: background-color 75ms linear, color 75ms linear;
  -o-transition: background-color 75ms linear, color 75ms linear;
  transition: background-color 75ms linear, color 75ms linear;
}
/* line 13, ../scss/base/_buttons.scss */
.btn:hover {
  background-color: #379fdf;
  color: white;
}
/* line 17, ../scss/base/_buttons.scss */
.btn.outline {
  background: transparent;
  color: #1f85c4;
  border: 1px solid #1f85c4;
}
/* line 21, ../scss/base/_buttons.scss */
.btn.outline:hover {
  background-color: #379fdf;
  color: white;
  border: 1px solid #379fdf;
}
/* line 27, ../scss/base/_buttons.scss */
.btn.dark-blue {
  background: #245070;
  color: #dde3e8;
}
/* line 30, ../scss/base/_buttons.scss */
.btn.dark-blue:hover {
  background-color: #306c97;
  color: #ecf0f3;
}
/* line 35, ../scss/base/_buttons.scss */
.btn.white {
  background: transparent;
  color: white;
  border: 1px solid white;
}
/* line 39, ../scss/base/_buttons.scss */
.btn.white:hover {
  background-color: white;
  color: #1f85c4;
  border: 1px solid #ecf0f3;
}

/* line 11, ../scss/style.scss */
[ng-cloak] {
  display: none;
}

/* line 13, ../scss/style.scss */
.fullscreen {
  padding: 8rem 0;
}
/* line 15, ../scss/style.scss */
.fullscreen .darker-blue {
  background-color: #234052;
}

/* line 20, ../scss/style.scss */
.darker-blue {
  color: #76899b;
  background-color: #234052;
}
/* line 23, ../scss/style.scss */
.darker-blue a {
  color: #379fdf;
}
/* line 25, ../scss/style.scss */
.darker-blue a:hover {
  color: #63b4e6;
}

/* line 31, ../scss/style.scss */
.off-white {
  color: #4c5156;
  background-color: #fafbfe;
}
/* line 34, ../scss/style.scss */
.off-white code {
  background-color: white;
  border-color: #ecf0f3;
}

/* line 40, ../scss/style.scss */
.primary-navigation {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 10;
}

/* line 48, ../scss/style.scss */
.angular-dimple-logo {
  float: left;
}

/* line 52, ../scss/style.scss */
.navigation-section {
  width: 50%;
  text-align: right;
  float: right;
}

/* line 58, ../scss/style.scss */
.numbered {
  text-align: center;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  display: inline-block;
  color: white;
  font-family: "Source Code Pro", "Inconsolata", "Consolas", "Courier New", monospace;
  font-size: .75rem;
  line-height: 2em;
  vertical-align: .25em;
  background-color: #1f85c4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 73, ../scss/style.scss */
.navigation {
  position: fixed;
  height: 100vh;
  width: 14em;
  padding: 1em;
  background-color: #ededed;
}

/* line 81, ../scss/style.scss */
.chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14rem;
  right: 0;
  height: 100vh;
  padding-left: 1rem;
}

/* line 92, ../scss/style.scss */
.chart-icon {
  display: inline-block;
  margin-bottom: 1rem;
  background-color: white;
  height: 6rem;
  width: 6rem;
  border: 0.25rem solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
/* line 103, ../scss/style.scss */
.chart-icon:hover {
  background-color: #379fdf;
  border: 0.25rem solid #379fdf;
}
/* line 108, ../scss/style.scss */
.chart-icon object {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}
/* line 112, ../scss/style.scss */
.chart-icon object svg {
  height: 6rem;
  width: 6rem;
}
