// Extendable Classes
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Mixins
@mixin show() {
  visibility: visible;
}

@mixin hide() {
  display: none !important;
  visibility: hidden;
}

@mixin clearfix() {
  @extend %clearfix;
}

@mixin respond-to($type, $m: max-width) {
  @if $type == handheld {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $type == webkit {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      @content;
    }
  } @else if $type == nonhandheld {
    @media screen and (min-width: 769px) {
      @content;
    }
  } @else {
    @media screen and ($m: $type) {
      @content;
    }
  }
}


@function grid-calc($span) {
  @return percentage(($span / $total-columns));
}

%column-base {
  @include box-sizing(border-box);
  float: left;
  padding: 0 $column-gutter/2;
}

@mixin column-style() {
  @extend %column-base;
}

@mixin container($width, $max, $min, $gutter) {
  @include clearfix();
  @include box-sizing(border-box);
  width: $width;
  max-width: $max;
  min-width: $min;
  padding: 0 $gutter;
  margin-right: auto;
  margin-left: auto;
}

@mixin column-width($span) {
  width: grid-calc($span);
}

@mixin column($span) {
  @extend %column-base;
  @include column-width($span);
}

@mixin last-column() {
  float: right;
}

@mixin pre($amount) {
  margin-left: grid-calc($amount);
}

@mixin post($amount) {
  margin-right: grid-calc($amount);
}

@mixin center-column {
  float: none;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

@mixin show() {
  visibility: visible;
}
@mixin hide() {
  display: none !important;
  visibility: hidden;
}

.show {
  @include show();
}

.hide {
  @include hide();
}

@media screen and (min-width: $tablet-mid) {
  .phone-hide   {@include show();}
  .tablet-hide  {@include show();}
  .phone-show   {@include hide();}
  .tablet-show  {@include hide();}
  .tablet-only  {@include hide();}
}

// tablets
@media screen and (max-width: $tablet-mid - 1) and (min-width: $phone) {
  .phone-hide   {@include show();}
  .tablet-hide  {@include hide();}
  .phone-show   {@include hide();}
  .tablet-show  {@include show();}
  .tablet-only  {@include show();}
}

// mobile phones
@media screen and (max-width: $phone - 1) {
  .phone-hide   {@include hide();}
  .tablet-hide  {@include hide();}
  .phone-show   {@include show();}
  .tablet-show  {@include show();}
  .tablet-only  {@include hide();}
}