@import "compass";
@import "config";

.white-panel {
  background-color: $white;
  border: 1px solid $lighter-gray;
  @include box-sizing(border-box);
  @include trailer(3);
  @include border-radius(3px);
  &.padded {
    padding: 2rem;
  }
}

.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;
  padding-top: 1rem;

  li {
    height: 4rem;
    margin-bottom: 1rem;
  }


.chart-icon {
  &:hover {
    &:before {
      @include box-shadow(0 0 0 9px $light-gray);
    }
  }
}

  a {
    height: 3rem;
    width: 3rem;

    img {
      float: left;
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }
  }

  span {
    float: left;
    position: absolute;
    display: inline-block;
    padding-top: 0.75rem;
  }
}

.api-link {
  float: right;
  margin-top: 1.5rem;
}