@import "compass";
@import "config";

.white-panel {
  margin-bottom: 1rem;
  background-color: $white;
  border: 1px solid $lighter-gray;
  @include box-sizing(border-box);
  @include border-radius(3px);
  &.padded {
    padding: 2rem;
  }
}

.example-link {
  margin-top: -2.75rem;
  float: right;
  font-family: $source;
  font-size: 1rem;
}

.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;
  li {
    margin-bottom: 1rem;
    padding: .25rem 0;
  }
  a {
    width: 100%;
    img {
      float: left;
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
      background-color: $white;
      border: 2px solid $light-gray;
      @include border-radius(50%);
      @include box-shadow( 0 0 0 0 $light-gray);
      @include transition(all 200ms linear);
    }
    &:hover {
      img {
        @include box-shadow( 0 0 0 4px $light-gray);
      }
    }
  }
  span {
    display: inline-block;
    line-height: 3rem;
  }
}

.api-link {
  font-size: 1rem;
  float: right;
  line-height: 3.25rem;
}

h2 {
  padding: 6rem 0 1rem 0;
}