@import "compass";
@import "config";

.white-panel {
  background-color: $white;
  border: 1px solid $lighter-gray;
  @include trailer(3);
  @include border-radius(3px);
}

.sidebar {
  position: fixed;
}