@import "compass";
@import "config";

.banner {
  position: relative;
  overflow: hidden;
  color: $white;
  background: url(../img/dots.svg) $dark-blue;
  z-index: 20;
  .banner-copy {
    position: relative;
    margin: 8rem 0;
    z-index: 2;
    font-weight: 200;
  }
  .dimple-graph {
    position: absolute;
    top: -260px;
    right: 0;
    bottom: 0;
    left: -25%;
    z-index: 1;
  }
  .dimple-axis {
    display: none;
  }
  .dimple-gridline{
    display: none;
  }
  .dimple-line {
    opacity: 0.8;
    fill: none;
    stroke: $darker-blue;
    stroke-width: 2;
  }
  .dimple-marker-back {
    fill: $darker-blue;
  }
  .dimple-marker {
    display: none;
    fill: $darker-blue;
  }
}