@import "compass";

@import "config";
@import "base/reset";
@import "base/mixins";
@import "base/grid";
@import "base/type";
@import "base/tabs";
@import "base/buttons";

[ng-cloak] { display: none;}

.fullscreen {
  padding: 8rem 0;
  .darker-blue {
    background-color: $darker-blue;
  }
}

.darker-blue {
  color: $gray;
  background-color: $darker-blue;
  a {
    color: lighten($blue, 10%);
    &:hover {
      color: lighten($blue, 20%);
    }
  }
}

.off-white {
  color: $dark-gray;
  background-color: $off-white;
  code {
    background-color: $white;
    border-color: $lighter-gray;
  }
}

.primary-navigation {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 10;
}

.angular-dimple-logo {
  float: left;
}

.navigation-section {
  width: 50%;
  text-align: right;
  float: right;
}

.numbered {
  text-align: center;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  display: inline-block;
  color: $white;
  font-family: $source;
  font-size: .75rem;
  line-height: 2em;
  vertical-align: .25em;
  background-color: $blue;
  @include border-radius(50%);
}

#this-svg:hover {
  fill: red;
}

.navigation {
  position: fixed;
  height: 100vh;
  width: 14em;
  padding: 1em;
  background-color: #ededed;
}

.chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14rem;
  right: 0;
  height: 100vh;
  padding-left: 1rem;
}


.chart-icon {
  @extend %clearfix;
  display: inline-block;
  margin-bottom: 1rem;
  background-color: $white;
  height: 6rem;
  width: 6rem;
  border: 0.25rem solid $white;
  @include border-radius(50%);

  &:hover {
    background-color: $light-blue;
    border: 0.25rem solid $light-blue;
  }

  object {
    height: 6rem;
    width: 6rem;
    svg {
      height: 6rem;
      width: 6rem;
    }
  }
}